:root{

  /* background color */
    --bg-color-w:#ffffff;
    --bg-color-b:#000000;
  
  /* Navigation color  */
    --nav-btn:white;
    --nav-bg:rgba(0, 0, 0,0.25);
    --nav-log:#daf0ff;
    --nav-btnHovcolor:white;
    --nav-btnHovbg: rgba(138, 195, 234,0.5);
 

  /* text color  */
    --text-color-w:#ffffff;
    --text-color-b:#000000;
    --text-color1:#ededed;
    --text-color2:#f75551;


  /* font-family */

  --font-family-primary:cursive;
  --font-family-secondary:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
  /* button color  */
   --btn-color1:#00abf0;
   --btn-color2:#f75551;
  
  }

  
*,
::before,::after{
    margin:0;
    padding:0;    
    box-sizing: border-box;
    
}

                                              /* NAVIGATION  */
  /* links */

  a,a:visited,a:hover{
    text-decoration:none;
  }

  /* Naigation menu */
  .header{
    position: fixed;
    left: 0;
    right:0;
  }
  .header-logo{
    font-family: cursive;
    margin-left: 20px;
    font-size: 1.25rem;
    color:var(--nav-log);
  }
    li{
      list-style-type: none;
    }
    .header-links{
      display: flex;
      justify-content:space-evenly;      
      align-items: center;
      letter-spacing: 1px;
      font-weight: bold;
      width:550px;
    }
  
  .header-links a{
    color: var(--nav-btn);
    font-size: 0.9375rem;
  }
 
  .header-links a:hover{
    border: 1px solid white;
    padding: 10px;
    transition: 0.5s;
    color: var(--nav-btnHovcolor);
    background-color: var(--nav-btnHovbg);

  }
 .hamburger-menu{
   display: none;
 }
   /* Navigation Bar */
   .navbar-container{
    display: flex;
    justify-content:space-between;
    padding:10px;
    background-color:var(--nav-bg);
  }
  
  body{
  background-image: url(../images/contactbg.jpg);
  background-repeat: no-repeat;
  background-size:cover;  
  background-position: center;
  background-attachment:fixed;
  font-family: cursive;
  font-size: 16px;
  }

/* section 1  contact form ************************************************************************************** */

.main-container{
  display: flex;
  justify-content: start;
  align-items: center;
}
.form-container{
  display: flex;
  margin-top:50px;  
  width: 100%;
}
.form-title{
  color: #017aee;
  text-align: center;
}

.form-box{
  margin:40px 100px; 
  padding:15px;
  border-radius:10px;
  background-color: rgba(255, 255, 255, 0.200);
  text-align: center;
}
.Firstname,
.Email,
.Mobileno,
.Address,
.State,
.City,
.whatpbm,
.aboutwhatpbm{
  margin: 14px 10px;
  padding:10px;
  border-radius:6px; 
  border: none;
  resize: none;
  width: 240px;
  font-family: var(--font-family-secondary);
}

.whatpbm,
.aboutwhatpbm {
  width:95%; 

}

.aboutwhatpbm {
  margin-bottom: 20px;
}

.btn{
  padding: 10px;
  border: none;
  background-color:#017aee;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius:6px;
  font-family: var(--font-family-primary); 
}
.btn:hover{
   background-color:black ;
   transition: 0.5s;
   color: white;
} 


                                   /*****************************\
                                          #MEDIA 768px
                                  \*****************************/
@media all and (max-width:768px){
  
  .navbar-container{
    justify-content: space-between;
    align-items: center;
  }
  .header-logo{
    color:white;
  }
  .header-links{
    display: none;
    position: absolute;   
    top:80px;
    width:calc(100%) ;
    left:50%;
    padding: 20px;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius:10px;
    flex-direction: column;
    gap:10px;
    width:80%;
    transition: all 300ms ease-in-out;
  }
  .header-showmenu{
    display:flex;
    transition: 0.5s; 
   }  
  .header-links a{
    color:white;
  }
  .header-links a:hover{
     padding: 5px;
  }


  
/* Hamburger Menu */
.hamburger-menu{
  display: block;
}
.hmenu{
  display:block;
  width:20px;
  height:3px;
  background-color:white;
  border-radius:10px;
  margin-bottom:3px;
  transition: all 300ms ease-in-out;
  transform-origin: 2px 2px; 
  cursor: pointer;
 }
 

 /* Animation in Hamburger menu */
 
 .Ahmenu :nth-child(1){
   background-color: white;
  transform: rotate(45deg);
 
 }
 
 .Ahmenu :nth-child(2){
   opacity:0;
 }
 
 .Ahmenu :nth-child(3){
   background-color: white;
   transform: rotate(-45deg);
 
 }

/* section  */
  .form-container{
     justify-content: center;
     align-items: center;
  
  }
.form-box{
  margin:50px;
}

  .Firstname,
.Email,
.Mobileno,
.Address,
.State,
.City,
.whatpbm,
.aboutwhatpbm{
  font-family: var(--font-family-primary);
}
}

@media all and (max-width:671px){
  .whatpbm,
  .aboutwhatpbm{
    width:240px; 
  
  } 

}
@media all and (max-width:517px){

    .header-links{
      width: 80%;
    }

   
  
  
}