:root{

/* background color */
  --bg-color-w:#ffffff;
  --bg-color-b:#000000;

  /* Navigation color  */
  --nav-log:#dac4b7;
  --nav-bg:rgba(0, 0, 0,0.25);
  --nav-btn:white;
  --nav-btnHovbg:rgba(0, 171, 240,0.5);
  --nav-btnHovcolor:white; 

/* text color  */
  --text-color-w:#ffffff;
  --text-color-b:#000000;
  --text-color1:#ededed;
  --text-color2:#f75551;
  --text-color3:#4c7f9d;
  --text-color4:#136d9b;

/* button color  */
 --btn-color1:#01b5fc;
 --btn-color2:#f8302c;

}

*,
::before,::after{
    margin:0;
    padding:0;    
    box-sizing: border-box;
    
}

                                              /* NAVIGATION  */
  /* links */

  a,a:visited,a:hover{
    text-decoration:none;
  }
  /* Navigation Bar */
  .navbar-container{
      display: flex;
      justify-content:space-between;
      padding:10px;
      background-color:var(--nav-bg);
    }
  /* Naigation menu */
  .header-logo{
    font-family: cursive;
    margin-left: 20px;
    font-size: 1.25rem;
    color:var(--nav-log);
  }
    li{
      list-style-type: none;
    }
    .header-links{
      display: flex;
      justify-content:space-evenly;      
      align-items: center;
      letter-spacing: 1px;
      font-weight: bold;
      width:550px;
    }
  
  .header-links a{
    color: var(--nav-btn);
    font-size: 0.9375rem;
  }
 
  .header-links a:hover{
    border: 1px solid white;
    padding: 10px;
    transition: 0.5s;
    color: var(--nav-btnHovcolor);
    background-color: var(--nav-btnHovbg);

  }
 .hamburger-menu{
   display: none;
 }
  
  
body{
  background-image: url(../images/homebg.jpg);
  background-repeat: no-repeat;
  background-size:cover;  
  background-position: center;
  background-attachment: fixed;
  font-family: cursive;
  font-size: 16px;
      
  }
/* section **************************************************************** */

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center; 
  width: 100%;
  height:90vh;

}

.para-container{
  text-align: center;
  padding:40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;

}
.para-title{
  text-align: center;
  color: var(--text-color-w);
  font-weight:bold;
  font-size:5vw;
  margin-bottom:30px;

}
.para{
  font-size:1.5vw;
  color: var(--text-color-b);
  line-height:2;

}
.button-container{
  margin-top:180px;
  font-weight:bold;
}
.container-button__primary {
  padding: 15px;  
  background-color: var(--btn-color1);
  color: white;
  border-radius:8px;
  animation: learnmore1 6s ease infinite;  
}

.container-button__secondary{
  margin-left: 50px;
  padding: 15px;  
  background-color: var(--btn-color2);
  color: white;
  border-radius:8px;
    animation: learnmore2 6s ease infinite;
}
.container-button__primary:hover{
  border: 2px solid white;
  padding: 8px;
  transition: 0.5s;


}
.container-button__secondary:hover{
  border: 2px solid white;
  padding: 8px;
  transition: 0.5s;

}
@keyframes learnmore1 {

  0%,100%{
     background-color:var(--btn-color2);
  
   
  }
  60%
  { 
      background-color: var(--btn-color1);
      color: white;
  }
}
@keyframes learnmore2 {

  0%,100%{
     background-color:var(--btn-color1);

  }
  60%
  { 
      background-color: var(--btn-color2);
      color: white;
      
  }
}

                                  /*****************************\
                                          #MEDIA 768px
                                  \*****************************/
@media all and (max-width:768px){
  
  .navbar-container{
    justify-content: space-between;
    align-items: center;
  }
  .header-logo{
    color:white;
  }
  .header-links{
    display: none;
    position: absolute;   
    top:80px;
    width:calc(100%) ;
    left:50%;
    padding: 20px;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius:10px;
    flex-direction: column;
    gap:10px;
    width:60%;
    transition: all 300ms ease-in-out;
  }
  .header-showmenu{
    display:flex;
    transition: 0.5s; 
   }  
  .header-links a{
    color:white;
  }
  .header-links a:hover{
     padding: 5px;
  }


  
/* Hamburger Menu */
.hamburger-menu{
  display: block;
}
.hmenu{
  display:block;
  width:20px;
  height:3px;
  background-color:white;
  border-radius:10px;
  margin-bottom:3px;
  transition: all 300ms ease-in-out;
  transform-origin: 2px 2px; 
  cursor: pointer;
 }
 

 /* Animation in Hamburger menu */
 
 .Ahmenu :nth-child(1){
   background-color: white;
  transform: rotate(45deg);
 
 }
 
 .Ahmenu :nth-child(2){
   opacity:0;
 }
 
 .Ahmenu :nth-child(3){
   background-color: white;
   transform: rotate(-45deg);
 
 }

}

@media all and (max-width:425px){
  .header-links{
    width: 80%;
  }
  
}