:root{

  /* background color */
    --bg-color-w:#ffffff;
    --bg-color-b:#000000;
  
  /* Navigation color  */
    --nav-btn:white;
    --nav-bg:rgba(0, 0, 0,0.25);
    --nav-log:#daf0ff;
    --nav-btnHovcolor:white;
    --nav-btnHovbg:rgba(221, 222, 220,0.5);

  /* text color  */
    --text-color-w:#ffffff;
    --text-color-b:#000000;
    --text-color1:#ededed; 
    --text-color2:#f75551;
    --text-lightblue:#2dcbff;
    --text-yellow:#ffff00;
  
   
  /* button color  */
   --btn-color1:#00abf0;
   --btn-color2:#f75551;
  
  }

  
*,
::before,::after{
    margin:0;
    padding:0;    
    box-sizing: border-box;
    
}

                                              /* NAVIGATION  */
  /* links */

  a,a:visited,a:hover{
    text-decoration:none;
  }
 .header{
  position: fixed;
  left: 0;
  right:0;
 }
  /* Naigation menu */
  .header-logo{
    font-family: cursive;
    margin-left: 20px;
    font-size: 1.25rem;
    color:var(--nav-log);
  }
  .header-links{
    display: flex;
    justify-content:space-evenly;      
    align-items: center;
    letter-spacing: 1px;
    font-weight: bold;
    width:550px;
  }
  
.header-links > li{
     list-style-type: none;
   }
  .header-links a{
    color: var(--nav-btn);
    font-size: 0.9375rem;
  }
 
  .header-links a:hover{
    border: 1px solid white;
    padding: 10px;
    transition: 0.5s;
    color: var(--nav-btnHovcolor);
    background-color: var(--nav-btnHovbg);

  }
   /* Navigation Bar */
  .navbar-container{
      display: flex;
      justify-content:space-between;
      padding:10px;
      background-color:var(--nav-bg);
    }
 .hamburger-menu{
   display: none;
 }

  

  body{
  background-image: url(../images/remediesbg.jpg);
  background-repeat: no-repeat;
  background-size:cover;  
  background-position: center;
  background-attachment: fixed;
  font-family: cursive;
  }
 /* section 1 */

 .main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title{
  margin:10px;
  text-align: center;
  font-weight: bold;
  color:var(--text-yellow);
  text-transform: uppercase;

 }
   /* remedies para container*/

.remedies-container1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:50px;
  color: white;
  line-height:3;  
  width:90%;
}

.remedies-title{
  margin:10px 0px;
  color: var(--text-lightblue);
  text-decoration:underline;
  line-height: 80px;
  align-self:flex-start;
  
}

p[class^="para"]{
  text-align: justify;
  text-indent:30px;
}

.remedies-img__container{
  margin:20px;
  padding:10px;
  text-align: center;
  width:100%;
  
}
img[class^="remedies-img"]{
  border-radius:8px;
  width:70%;
  min-width:230px;
}

.para-points{
color:var(--text-yellow);
font-size:1.3rem;
align-self:flex-start;
}

/* list */

.para-list{
  line-height: 40px;
  margin-left:50px;
  align-self: flex-start;
  color: white;
 
}

.remedies-list__container{
 display: grid;
 gap:0px 50px;
 grid-template: repeat(2,1fr)/repeat(2,1fr);
 width:90%;
}
.remedies-list__container .para-list {
 margin:0;
}
.remedies-list__container > .para-list > li{
  margin-left:50px ;
}


/* footer */
.footer-container{   
  margin-top:100px;
  background-color:black;
  text-align: center;
  padding:10px; 
}

.footer__heading{
  color: white;
  margin: 16px;
  font-size: 20px;
  font-weight: bolder;
}

.input__email{
  border: none;  
  padding: 10px;
  margin-bottom: 20px;
  width: 40vw;
  min-width:200px;
  font-family: var(--font-family-primary);
  font-size:0.80rem ;
}
.footer__button{
  border: none;
  background-color: #f8302c;
  color: white;
  font-weight: bold;
  font-size:0.80rem;
  padding: 10px;
  margin-bottom: 16px;
}
.footer__button:hover{
  background-color: rgb(45, 178, 223);
  color: black;
  transition: 0.5s;
}

/* Icon  */
#icon1{ 
    position: relative;
    width:50px; 
    padding-inline:10px ;
}
#icon2{
  position: relative;
  width:50px;  
  padding-inline:10px ; 
  
}

/*-----------------------------------*\
  #RESPONSIVE
\*-----------------------------------*/

                                    /*****************************\
                                          #MEDIA 768px
                                  \*****************************/
@media all and (max-width:768px){
  
  .navbar-container{
    justify-content: space-between;
    align-items: center;
  }
  .header-logo{
    color:white;
  }
  .header-links{
    display: none;
    position: absolute;   
    top:80px;
    width:calc(100%) ;
    left:50%;
    padding: 20px;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius:10px;
    flex-direction: column;
    gap:10px;
    width:60%;
    transition: all 300ms ease-in-out;
  }
  .header-showmenu{
    display:flex;
    transition: 0.5s; 
   }  
  .header-links a{
    color:white;
  }
  .header-links a:hover{
     padding: 5px;
  }


  
/* Hamburger Menu */
.hamburger-menu{
  display: block;
}
.hmenu{
  display:block;
  width:20px;
  height:3px;
  background-color:white;
  border-radius:10px;
  margin-bottom:3px;
  transition: all 300ms ease-in-out;
  transform-origin: 2px 2px; 
  cursor: pointer;
 }
 

 /* Animation in Hamburger menu */
 
 .Ahmenu :nth-child(1){
   background-color: white;
  transform: rotate(45deg);
 
 }
 
 .Ahmenu :nth-child(2){
   opacity:0;
 }
 
 .Ahmenu :nth-child(3){
   background-color: white;
   transform: rotate(-45deg);
 
 }

/* section   */
  .remedies-title{
    font-size:1.3rem;
  }
  .para-points{
    font-size:1.1rem;
  }
  /* list  */
  .remedies-list__container{
    grid-template: repeat(2,1fr)/repeat(1,1fr);
   
   }
}


@media all and (max-width:550px) {
  .remedies-title{
    font-size: 1.2rem; 
  }
 p[class^="para"],.para-list{
  font-size: 0.80rem;
 } 
}

@media all and (max-width:425px){

  /* Navigation */
  .header-links{
    width:80%;
  }

  .remedies-title{
    font-size:0.90rem;
    line-height:2;
  }  
  .para-points{
    font-size:0.90rem;
  }

  /* list */
 
 .para-list, .remedies-list__container > .para-list >li{
    margin-left:40px;
  }
}